@define-color foreground #F5E2E3;
@define-color background rgba(0,0,11,0.8);
@define-color cursor #A3AAC0;

@define-color color0 #00000B;
@define-color color1 #294D60;
@define-color color2 #51729E;
@define-color color3 #9D6F7A;
@define-color color4 #4999C7;
@define-color color5 #94B0D2;
@define-color color6 #E3ADAE;
@define-color color7 #E9CECE;
@define-color color8 #A39090;
@define-color color9 #294D60;
@define-color color10 #51729E;
@define-color color11 #9D6F7A;
@define-color color12 #4999C7;
@define-color color13 #94B0D2;
@define-color color14 #E3ADAE;
@define-color color15 #E9CECE;
