@import "colors.css";
* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 700;
    font-size: 12px;
    min-height: 10px;
}

window#waybar {
    background-color: rgba(0, 0, 0, .0);
}

#temperature,
#clock,
#workspaces,
#cpu,
#custom-arch,
#custom-cpuinfo,
#tray,
#pulseaudio,
#network,
#custom-right,
#custom-left {
   color: #c0caf5;
   background: @background;
   margin: 4px 0px 4px 0px;
   opacity: 1;
   border: 0px solid #181825;
}

tooltip {
    background: @background;
    color: #c0caf5;
    border-radius: 22px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: #c0caf5;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: #7aa2f7;
    color: @background;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: #7dcfff;
    color: @background;
    border: none;
}

#workspaces {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#window {
  background: @background;
  color: #c0caf5;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0px;
  margin-left: 9px;
  margin-right: 9px;
  border-radius: 3px 3px 3px 3px;
  
}

#cpu {
    color: #c0caf5;
    padding-left: 0px;
    padding-right: 5px;
}

#custom-arch {
    color: #7dcfff;
    padding-left: 0px;
    padding-right: 5px;
}

#custom-cpuinfo {
    color: #c0caf5;
    padding-left: 0px;
    padding-right: 5px;
}

#temperature {
    color: #c0caf5;
    padding-left: 0px;
    padding-right: 5px;
}

#temperature.critical {
    color: #f7768e;
    padding-left: 0px;
    padding-right: 19px;
}

#pulseaudio {
    color: #c0caf5;
    padding-left: 0px;
    padding-right: 5px;
}

#tray {
  padding-left: 0px;
  color: #c0caf5;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
}

#tray menu * {
  background-color: @background;
  color: #c0caf5;
}

#network {
   padding-left: 0px;
   padding-right: 19px;
}

#clock {
   color: #c0caf5;
   padding-left: 0px;
   padding-right: 0px;
}

#custom-right {
    margin-right: 9px;
    padding-right: 3px;
    border-radius: 0px 3px 3px 0px;
}

#custom-left {
    margin-left: 9px;
    padding-left: 3px;
    border-radius: 3px 0px 0px 3px;
}

#custom-spotify {
  color: #9ece6a;
  background: @background;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 9px;
  margin-right: 9px;
  border-radius: 3px 3px 3px 3px;
}
